body {
	background-color: yellow;
}
.tekstas {
	margin-right: 5px;
}
.form, .title {
	text-align: center;
}
.card-image {
	width: 25%;
	height: 25%;
	margin: 10px 10px 10px 10px;
	align-self: center;
}
.ivedimas {
	margin-right: 5px;
}

.mygtukas {
	background-color: gray;
}
.card-content {
	margin-left: 15px;
}
